:root {
  --main-theme-bg: #e5e5e5;
  --sec-theme-bg: #fbfbfb;

  --main-theme-text-light: #bdbdbd;
  --main-theme-text-dark: #333;
  --sec-theme-text-dark: #000;
  --sec-theme-text-light: #fff;
  --tert-theme-text: #f2f2f2;

  --btn-bg-light: var(--sec-theme-text-light);
  --btn-bg-dark: var(--main-theme-text-dark);
  --btn-text-dark: var(--main-theme-text-dark);
  --btn-text-light: var(--sec-theme-text-light);

  --arrow-key-border: #f2f2f2;
  --arrow-key-bg: #f9f9f9;
  --arrow-key-bg-light: var(--sec-theme-text-light);

  --main-border: #e0e0e0;
  --footer-border: var(--sec-theme-text-light);

  --form-bg: #f3f3f3;
  --form-text: #8d8d8d;

  --footer-theme-bg: #2c2c2c;
  --footer-theme-text: var(--sec-theme-text-light);

  --copyright-text: #c8c8c8;
}

/* INIT */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  width: 222px;
  height: 71px;
  border: none;
}
