/* FONT FAMILIES */
@font-face {
  font-family: TT-Hoves;
  src: url(Fonts/TT-Hoves.ttf) format(truetype);
}

@font-face {
  font-family: TT-Hoves-Thin;
  src: url(Fonts/TT-Hoves-Thin.ttf);
}

@font-face {
  font-family: TT-Hoves-Bold;
  src: url(Fonts/TT-Hoves-Bold.ttf);
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url(Fonts/SFProDisplay-Heavy.ttf);
}

@font-face {
  font-family: TT-Hoves-Medium;
  src: url(Fonts/TT-Hoves-Medium.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans&display=swap");

/* COLOURS */
:root {
  --main-theme-bg: #e5e5e5;
  --sec-theme-bg: #fbfbfb;

  --main-theme-text-light: #bdbdbd;
  --main-theme-text-dark: #333;
  --sec-theme-text-dark: #000;
  --sec-theme-text-light: #fff;
  --tert-theme-text: #f2f2f2;

  --btn-bg-light: var(--sec-theme-text-light);
  --btn-bg-dark: var(--main-theme-text-dark);
  --btn-text-dark: var(--main-theme-text-dark);
  --btn-text-light: var(--sec-theme-text-light);

  --arrow-key-border: #f2f2f2;
  --arrow-key-bg: #f9f9f9;
  --arrow-key-bg-light: var(--sec-theme-text-light);

  --main-border: #e0e0e0;
  --footer-border: var(--sec-theme-text-light);

  --form-bg: #f3f3f3;
  --form-text: #8d8d8d;

  --footer-theme-bg: #2c2c2c;
  --footer-theme-text: var(--sec-theme-text-light);

  --copyright-text: #c8c8c8;
}

/* INIT */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--sec-theme-bg);
  font-family: TT-Hoves;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* BUTTONS */
button {
  cursor: pointer;
  width: 222px;
  height: 71px;
  border: none;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.btn-light {
  background-color: var(--btn-bg-light);
  color: var(--btn-text-dark);
}

.btn-light:hover {
  background-color: var(--arrow-key-bg);
}

.btn-dark {
  background-color: var(--btn-bg-dark);
  color: var(--btn-text-light);
}

.btn-smaller {
  width: 53px;
  height: 53px;
  border: var(--tert-theme-text) 1px solid;
}

/* HEADERS */
h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--main-theme-text-dark);
  font-family: TT-Hoves-Bold, sans-serif;
}

h2 {
  font-family: TT-Hoves-Thin, sans-serif;
  font-weight: 300;
  font-size: 64px;
  color: var(--main-theme-text-light);
}

h3 {
  font-weight: 900;
  font-size: 200px;
  color: var(--tert-theme-text);
  font-family: SFProDisplay-Heavy, sans-serif;
}

h4 {
  font-weight: 700;
  font-size: 64px;
  color: var(--sec-theme-text-light);
}

h5 {
  font-size: 16px;
  margin-bottom: 25px;
  font-family: TT-Hoves-Bold, sans-serif;
}

h6 {
  font-size: 40px;
  color: var(--main-theme-text-light);
  font-family: TT-Hoves-Thin, sans-serif;
}

.container {
  width: 1170px;
  height: auto;
  margin: auto;
  margin-bottom: 120px;
}

/* nav bar  */

.logo-img {
  display: flex;
  gap: 2px;
}

.logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.menu {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 369px;
}

#nav {
  margin-bottom: 0px;
  height: 102px;
}

.nav-list ul li a:hover {
  border-top: var(--main-theme-text-dark) 1px solid;
  border-bottom: var(--main-theme-text-dark) 1px solid;
}

/* HERO SECTION  */
.main-header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  line-height: 60px;
  position: relative;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-image {
  position: relative;
}

.main-button {
  position: relative;
  display: none;
}

.main-image:hover .main-button {
  display: block;
}

.main-button button {
  position: absolute;
  top: -71px;
}

.scroll-btn {
  display: flex;
  gap: 23px;
  position: absolute;
  margin-top: 190px;
}

.img-no {
  display: flex;
  gap: 25px;
  align-items: center;
  position: absolute;
  font-size: 24px;
  color: var(--main-theme-text-light);
  margin-top: 300px;
}

.img-no img {
  height: 31px;
  width: auto;
}

/* SECTION 2 */
.first-page section:first-of-type {
  position: relative;
}

.bd-images1 div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.sec-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.bd-images2 {
  margin-top: 30px;
}

#abt-comp p {
  width: 400px;
  color: var(--sec-theme-text-dark);
  font-family: TT-Hoves-Thin, sans-serif;
}

.sec-container {
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 70px;
  background: var(--main-theme-bg);
}

.inner-img2 {
  position: absolute;
  top: 295px;
}

.side-piece1 {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* SECTION 3  */

.sub-sections1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.sub-sub-sect1,
.sub-sub-sect2 {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
}

.para-1 p {
  font-size: 22px;
  width: 60%;
}

.para-2 p {
  font-size: 22px;
  width: 100%;
}

/* SECTION 4 */
.disp-text {
  display: none;
}

.disp-text {
  color: var(--sec-theme-text-light);
}

.disp-text h4 {
  line-height: 64px;
  font-family: TT-Hoves-Bold, sans-serif;
}

.disp-text p {
  font-family: "Gothic A1", sans-serif;
}

.sect3-image1:hover .disp-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #3333337b;
  top: 0px;
  width: 570px;
  height: 255px;
  margin: 0 auto;
  padding-left: 79px;
  padding-top: 48px;
}

.sect3-upper-images,
.sect3-lower-images {
  display: flex;
  gap: 30px;
  position: relative;
}

.sub-sections2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: end;
  position: relative;
}

/* SECTION 5 */
.personal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  position: relative;
}

form p:nth-of-type(5) {
  position: relative;
}

.sub-sections3 {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

input {
  width: 391px;
  height: 46px;
  background: var(--form-bg);
  border: none;
  padding-left: 21px;
  font-size: 14px;
}

.address {
  height: 147px;
  padding-bottom: 100px;
}

.fa-check {
  position: absolute;
  padding-top: 73.5px;
  left: 5px;
}

.to-submit {
  position: absolute;
  top: 391px;
}

.to-submit div {
  margin-bottom: 21px;
  padding-left: 40px;
}

/* FOOTER  */
footer {
  background: var(--footer-theme-bg);

  color: var(--footer-theme-text);
  display: flex;
  justify-content: space-evenly;
  gap: 150px;
  font-size: 14px;
}

.foot-nav {
  margin-top: 120px;
  padding: 60px 116px;
  border-bottom: var(--copyright-text) 1px solid;
}

.first-page .foot-nav {
  margin-top: 240px;
}

.footer-logo img {
  width: 145px;
  height: 91px;
}

.foot-list {
  display: flex;
  justify-content: space-between;
  gap: 157px;
}

.foot-info ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.foot-info ul li {
  font-family: TT-Hoves-Medium, sans-serif;
}

.foot-contact ul {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.soc-media div {
  display: flex;
  gap: 40px;
  font-size: 18px;
}

.foot-contact ul li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: TT-Hoves-Medium, sans-serif;
}

.copyright {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--copyright-text);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

/* SECOND PAGE */
.second-page section {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.second-page .container {
  margin-bottom: 60px;
}

.second-page section .second-page-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  gap: 30px;
  margin-bottom: 75px;
}

.second-page section .second-page-gallery div {
  position: relative;
}

.disp-text2 {
  display: none;
}

.second-page section .second-page-gallery div:hover .disp-text2 {
  position: absolute;
  display: block;
  background: var(--main-theme-bg);
  width: 210px;
  height: 120px;
  top: 140px;
  padding: 20px;
}

.second-page .second-page-gallery p {
  font-size: 14px;
}

.scroller {
  display: flex;
  align-items: center;
  gap: 26px;
}

.img-no2 {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 24px;
  color: var(--main-theme-text-light);
}

.scroll-btn2 {
  display: flex;
  gap: 23px;
}

/* THIRD PAGE  */
.third-page .project {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.proj-sect {
  display: grid;
  grid-template-columns: 670px 470px;
  column-gap: 30px;
}

.proj-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-page3 {
  margin-bottom: 60px;
}

/* THIRD PAGE PART 2 */
.third-page2 section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article {
  display: grid;
  grid-template-columns: 419px 721px;
  column-gap: 30px;
}

/* FOURTH PAGE  */
.letters {
  display: flex;
  align-items: center;
  gap: 78px;
  justify-content: space-evenly;
}

.fourth-page .scroller {
  justify-content: end;
  text-align: right;
  margin-top: 50px;
}
